
flask>=2.3.0
Werkzeug>=2.3.0

Pillow>=10.0.0
opencv-python>=4.8.0
numpy==1.26
pandas

timm>=1.0.17
tqdm
ftfy==6.1.1
regex
iopath>=0.1.10
typing_extensions
huggingface_hub
einops
decord; sys_platform != "darwin"
eva-decord; sys_platform == "darwin"
psutil

pycocotools>=2.0.6

PyYAML>=6.0

requests>=2.28.0

triton-windows; sys_platform == "win32"
orjson